.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(17, 17, 17, 0.3);
    z-index: 999;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    position: absolute;
    width: 698px;
    height: 964px;
    left: calc(50% - 698px / 2);
    top: calc(50% - 964px / 2 - 1px);

    background: #FFFFFF;
    border-radius: 12px;
}

.header {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 92px;
    min-height: 24px;
    left: 303px;
    top: 41px;

    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.04vw;
    line-height: 1.25vw;

    text-align: center;

    color: #262932;
}

.searchBar {
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    position: absolute;
    width: 605px;
    height: 54px;
    left: 47px;
    top: 101px;

    color: #959FAC;
}

.searchResultNumber {
    position: absolute;
    width: auto;
    min-width: 32px;
    height: 14px;
    left: 47px;
    top: 172px;

    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.63vw;
    line-height: 0.73vw;

    color: #959FAC;
}

.searchBookResultContainer {
    display: flex;
    flex-direction: column;

    gap: 28px;
    padding-right: 20px;

    position: absolute;
    width: 605px;
    height: 664px;
    left: 47px;
    top: 203px;

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.searchBookItem {
    display: flex;
    flex-direction: row;
    max-width: calc(100% - 74px);
}

.searchBookItem img {
    background: #D9D9D9;
    border-radius: 4px;
    width: 74px;
    height: 74px;
    min-width: 74px;
}

.searchBookInfo {
    display: flex;
    flex-direction: column;
    padding: 9px 18px;
    width: 476px;
}

.searchBookTitle {
    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.73vw;
    line-height: 0.89vw;

    color: #262932;
    margin-bottom: 7px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchBookDetails {
    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.63vw;
    line-height: 145%;

    color: #636363;
}

.handleButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
    padding: 21px 46px;

    box-sizing: border-box;

    position: absolute;
    width: 698px;
    height: 97px;
    left: calc(50% - 698px / 2);
    top: calc(50% - 97px / 2 + 432.5px);

    border-top: 1px solid #E7E7E7;
    border-radius: 0 0 12px 12px;
}

.checkBookItem img {
    position: absolute;
    width: 33px;
    height: 33px;

    left: 535px;
    background: none;
}
