.bookDetail {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F8;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    &__coverSection {
        position: relative;
        width: 100%;
        height: 432px;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);
        }
    }

    &__coverBackground {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &__infoContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__coverImage {
        position: absolute;
        top: 197px;
        left: 201px;
        width: 300px;
        height: 444px;
        background-size: 100% 100%;
        background-position: center;
        box-shadow: 3px 3px 17.6px rgba(0, 0, 0, 0.31);
        border-radius: 18px;
        z-index: 2;
    }

    &__floatCardSection {
        position: absolute;
        top: 366px;
        left: calc(50% - 409.86px / 2 + 690.93px);
        width: auto;
        height: 100%;
        overflow-x: hidden;
        z-index: 10;
    }

    &__floatCard {
        display: flex;
        gap: 18px;
        transition: transform 0.3s ease-in-out;
    }

    &__indicator {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 7px;
        width: 410px;
        height: 10px;
        margin-top: 19px;
    }

    &__indicatorDot {
        width: 20px;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;
    }

    &__infoWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 197px 0 0 550px;
    }

    &__noteSection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 550px;
    }

    &__noteHeader {
        display: flex;
        width: auto;
        height: 19px;
        font-family: 'Pretendard', serif;
        font-weight: 500;
        font-size: 0.83vw;
        line-height: 0.99vw;
        color: #262932;
        gap: 5px;
    }

    &__noteIcon {
        cursor: pointer;
    }

    &__contentSection {
        display: flex;
        flex-direction: column;
        flex: 1;
        z-index: 1;
        position: relative;
        padding-top: 30px;
        height: auto
    }

    &__content {
        display: flex;
        flex-direction: row;
        gap: 35px;
        width: 100%;
        min-height: 648px;
        padding: 74px 64px 0 200px;
    }

    &__titleWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 22px;
        font-family: 'Pretendard', serif;
        margin-bottom: 16px;

        color: #FFFFFF;
    }

    &__title {
        font-weight: 700;
        font-size: 1.88vw;
        line-height: 2.24vw;
    }

    &__own {
        &:hover {
            background: rgba(255, 255, 255, 0.28);
        }

        &__active {
            color: #FFFFFF;
        }

        &__unactive {
            border: 1px solid #D9D9D9;
            color: #D9D9D9;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;

        width: auto;
        height: 25px;
        padding: 9px 6px;

        border: 1px solid #FFFFFF;
        border-radius: 3px;

        font-style: normal;
        font-weight: 500;
        font-size: 0.625vw;
        line-height: 0.73vw;
        text-align: center;

        cursor: pointer;
    }

    &__infoText {
        display: flex;
        gap: 5px;
        margin-bottom: 58px;
        font-family: 'Pretendard', serif;
        font-weight: 400;
        font-size: 0.73vw;
        line-height: 0.89vw;
        color: #FFFFFF;
    }

    &__progressContainer {
        display: flex;
        align-items: center;
        width: 288px;
        font-family: 'Pretendard', serif;
        font-weight: 500;
        font-size: 0.73vw;
        line-height: 0.89vw;
        color: #F6F6F8;
    }

    &__rating {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__actions {
        display: flex;
        gap: 25px;
        margin-top: 97px;
    }

    &__button {
        padding: 10px 25px;
        border-radius: 25px;
        font-size: 0.83vw;
        cursor: pointer;
    }

    &__databaseWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: auto;
        height: 76px;
        padding: 162px 0 0 200px;
        margin: 0;
    }
}
