.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: grid;
    justify-content: space-between;
    position: relative;
}

.gridFive {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 59.25px;
    row-gap: 80px;
}

.gridSix {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 45px;
    row-gap: 52px;
}
