.basicButton {
    width: auto;
    height: 56px;

    border-radius: 47px;
    padding: 16px;

    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
