.container {
    display: flex;
    flex-direction: column;

    gap: 41px;
    width: 100%;
    height: 341px;

    z-index: 3;
}

.rowContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 79.08px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(max(10), 1fr);
    gap: 44px;
    width: 100%;
}

.contentWrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    width: 100%;
}

.bookScrollContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.bookContainer {
    display: flex;
    align-items: flex-end;
    gap: 44px;
    transition: transform 0.3s ease-in-out;
}

.bookCover {
    position: relative;
    left: 16px;
    bottom: 0;

    max-width: 134.31px;
    min-width: 134.31px;
    max-height: 199.68px;
    min-height: 199.68px;

    box-shadow: 3px 3px 17.6px rgba(0, 0, 0, 0.24);
    border-radius: 8px 8px 0 0;
}

.shelfContainer {
    position: relative;
    width: 100%;
    height: 40px;

    overflow: auto;
}

.shelf, .shelfShadow {
    height: 40.41px;
    border-radius: 3px;
}

.shelf {
    background: linear-gradient(180deg, #EBEBF5 4%, #FAFAFF 7%, #E4E4E9 22.5%, #EAEAF1 44.5%, #EDEDF2 77%, #D5D5DE 92%, #B8B8C0 100%);
}

.shelfShadow {
    background: linear-gradient(180deg, rgba(38, 41, 50, 0.34) 0%, rgba(38, 41, 50, 0) 100%);
    filter: blur(10px);
    z-index: -1;
}

.arrowLeft, .arrowRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    color: white;
    cursor: pointer;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 48px;
}

.arrowLeft {
    left: -8px;
}

.arrowRight {
    right: -8px;
}
