.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.searchTools {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    position: relative;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.categoryButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.filterTools {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
