.headerContainer {
    box-sizing: border-box;

    position: fixed;
    width: 100%;
    height: 96px;
    left: 0;
    top: 0;

    background: #FFFFFF;
    border: 1px solid #D2D2D2;

    z-index: 99;
}

.headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 138px;
    height: 46px;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);

    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
    background-color: #D9D9D9;

}

.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 50%;
    background: #F6F6F8;

    &:nth-of-type(2) {
        left: 1498px;
    }

    &:nth-of-type(3) {
        left: 1574px;
    }

    &:nth-of-type(4) {
        left: 1674px;
    }
}

.divider {
    height: 30px;

    position: absolute;
    left: 1654px;
    top: 50%;
    transform: translateY(-50%);

    border: 1px solid #D2D2D2;
}

.userName {
    position: absolute;
    width: 54px;
    height: 25px;
    left: 1754px;
    top: 50%;
    transform: translateY(-50%);

    font-family: 'SUIT', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: #535353;

    margin: 0 8px;
}

.userDropdownButton {
    position: absolute;
    width: 20px;
    height: 6.5px;
    left: 1836px;
    top: 45px;

    transform: translateY(-100%);
}
