.searchBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    box-sizing: border-box;

    width: 713px;
    height: 56px;
    padding: 0 32px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 12px;

    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #959FAC;
}

.searchInput {
    flex: 1;
    padding-left: 15px
}
