.container {
    position: fixed;
    height: 100%;

    z-index: 2;
    transition: right 0.3s ease-in-out;
}

.toggleButton {
    box-sizing: border-box;

    position: absolute;
    width: 30px;
    height: 112px;
    left: -30px;
    top: 50%;
    z-index: 3;
    cursor: pointer;

    transition: transform 0.3s ease-in-out;
}

.contentContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-left: 1px solid #D2D2D2;

    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;

    transition: transform 0.3s ease-in-out;
}

.utilityHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20%;

    box-sizing: border-box;

    width: 100%;
    height: 46px;
    padding: 148px 71px 60px 71px;

    border-radius: 8px;
}

.headerCategory {
    display: flex;
    flex-direction: row;
    gap: 16px;

    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.73vw;
    line-height: 0.89vw;
    color: #262932;

    width: auto;
    height: 45px;

    background: #F6F6F8;
    border: 1px solid #F6F6F8;
    border-radius: 8px;
    padding: 4px;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.activeCategory, .inactiveCategory {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;

    text-wrap: nowrap;

    border-radius: 5px;
    padding: 10px 14px;
}

.activeCategory {
    background: #FFFFFF;
}

.contentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 29px;
    margin-bottom: 41px;
}

.contentCategory {
    display: flex;

    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25vw;
    line-height: 1.51vw;

    color: #262932;
}

.moreButton {
    display: flex;
    align-items: center;
    min-height: 29px;
    gap: 7px;

    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.63vw;
    line-height: 0.83vw;

    letter-spacing: -0.025em;

    color: #767676;
}

.content {
    display: flex;
    flex-direction: column;


    width: 100%;
    height: 100%;

    padding: 0 71px;
}

.resizeHandle {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    background-color: rgba(0, 0, 0, 0.1);
}

.resizeHandle:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
