.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 676.43px;
  height: 906.45px;

  background: #FFFFFF;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 50px;

  font-family: 'Pretendard', serif;
  text-align: center;
}

.logo {
  margin-top: 80.38px;

  font-weight: 700;
  font-size: 2.6vw;
  line-height: 3.07vw;
  color: #111111;
}

.subtitle {
  width: auto;
  margin-top: 18.91px;

  font-weight: 400;
  font-size: 0.73vw;
  line-height: 136%;
  white-space: nowrap;
  color: #555555;
}

.inputWrapper {
  margin-top: 60.71px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  .idWrapper, .passwordWrapper {
    box-sizing: border-box;

    width: 462px;
    height: 56px;

    border: 1px solid #111111;
    border-radius: 27px;

    font-weight: 400;
    font-size: 0.73vw;
    line-height: 0.89vw;
    color: #7A7A7A;

    padding: 10px 33px 10px 40px;
  }

  .passwordWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.input {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: calc(100% - 214px);
  height: 18px;
  margin-top: 16px;

  font-weight: 400;
  font-size: 0.73vw;
  line-height: 136%;
  color: #111111;
}

.autoLogin {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.73vw;
  line-height: 0.89vw;
  text-align: right;
  color: #111111;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 462px;
  height: 55px;
  margin-top: 33px;

  background: #111111;
  border-radius: 27.8241px;

  font-weight: 600;
  font-size: 0.73vw;
  color: #FFFFFF;
  text-decoration: none;
}

.socialLogin {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 462px;
  height: 17px;
  margin-top: 44px;

  font-weight: 400;
  font-size: 0.73vw;
  color: #555555;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  flex-grow: 1;
  margin: 0 25px;
}

.kakaoLogin {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 65.54px;
  height: 65.54px;
  margin-top: 44.42px;

  border: none;
  background: none;
}

.joinButton {
  width: 100%;
  height: 19px;

  position: absolute; // margin으로 조정시 화면 벗어남
  bottom: 73.75px;

  font-weight: 400;
  font-size: 0.83vw;
  line-height: 0.99vw;
  text-decoration-line: underline;
  color: #EF5C7C;
}
