.container {
    display: flex;
    flex-direction: column;

    width: 410px;
    height: 265px;

    background: linear-gradient(360deg, #262932 0%, #464D60 100%);
    border-radius: 28px;

    padding: 33px 38px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 23px;
}

.category {
    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.04vw;
    line-height: 1.25vw;

    color: #FEFEFE;
}

.content {
    width: 100%;
    height: 100%;

    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 1.51vw;

    color: #FEFEFE;
}

.answerButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 42.4px;
}
