.basicButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75vw;

    width: auto;
    min-width: 128px;
    height: 56px;

    border-radius: 47px;
    padding: 16px;

    font-family: 'Pretendard', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.83vw;
    line-height: 0.99vw;

    cursor: pointer;
}
